# Global dependencies and misc files
/node_modules
.DS_Store
*.log*

# Docker and environment
.env*.local
.env
.vercel

# Specific environment files to ignore
server/.env
client/.env

# Build and IDE files
/dist
/build